.position-wrapper {
  padding: 2rem;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  margin-bottom: 2rem;

  position: relative;
}

.box-1 {
  position: relative;
  top: 2rem;
  left: 2rem;
}

.box-2 {
  border-color: #67003e;
  background-color: #febee4;

  position: absolute;
  top: 2rem;
  left: 2rem;
}

.box-3 {
  border-color: #673e00;
  background-color: #fee4be;

  position: fixed;
  top: 2rem;
  right: 2rem;
}

.box-4 {
  border-color: #3e6700;
  background-color: #e4febe;
}
